{% extends 'base.html' %}
{% load static %}

{% block title %} About
{% endblock title %}



{% block body %} 

<!--banner slider -->
<!-- <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'app/img/banner1.png' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'app/img/banner2.png' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'app/img/banner3.png' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'app/img/banner4.png' %}" class="d-block w-100" alt="...">
      </div>
     
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> -->
<!--banner slider -->

<div class="container mt-sm-3">
    <br><br>
    <h2 class=" text-center"><strong> Welcome to Nex<span style="color:  rgb(255, 102, 0);">City</span></strong> <br><br>  About Us: <hr></h2>
    <br>
    <div>
        <p class="text-center">
           

          NexCity Real Estate is a leading provider of comprehensive real estate solutions, dedicated to transforming dreams of urban living into reality. With a steadfast commitment to excellence and innovation, we pride ourselves on delivering exceptional service and forging lasting relationships with our clients. At NexCity, we believe in the power of real estate to shape communities, create opportunities, and inspire growth.
    
<br>
    <h2 class=" text-center">  Our Story</h2><hr>
    <br>
    <div>
        <p class="text-center">



          NexCity Real Estate was born from a vision to redefine urban living. Founded by passionate visionaries, we set out to connect individuals with their perfect homes in the heart of bustling metropolises. Guided by principles of integrity and innovation, we've become a trusted partner in the real estate industry. Our story is one of empowerment, transformation, and the relentless pursuit of excellence. Join us as we continue to shape the cities of tomorrow, one home, one community at a time.
<br>
  <h2 class=" text-center">  Our Services</h2>
</h2><hr><br>

<strong>Property Listings :</strong> Access our extensive database of properties, including residential, commercial, and land listings.

<br><br><strong>Buyer Representation: </strong> Benefit from personalized guidance and expert negotiation to find your dream property at the best possible price.

<br><br><strong>Investment Opportunities:</strong> Explore lucrative investment options tailored to your financial goals, whether you're a seasoned investor or a first-time buyer.

<br><br><h2 class=" text-center">  Why Choose Us?</h2><hr><br>

1. Expertise: Our team comprises experienced professionals with in-depth knowledge of local markets, trends, and regulations. <br>

2. Personalized Service: We prioritize your needs, offering customized solutions and dedicated support every step of the way.<br>

3. Integrity: Trust is at the core of our values. We operate with transparency, honesty, and ethical practices in all our dealings. <br>

4. Client Satisfaction: Your satisfaction is our priority. We go above and beyond to ensure a seamless and rewarding experience for every client. <br>



<br><h2 class=" text-center">  Contact Us</h2><hr><br>


Ready to embark on a Real Estate journey with us? Reach out to our team today to discuss your project. We're here to turn your dream land into reality. <br>
 Phone: 0902 1865 092 <br>

Email: happinessjoseph065@gmail.com <br>

Address: Izzuna , Second Market, Ifite, Awka Nigeria <br>
Stay updated with our latest projects, tips, and special offers by following us on social media:
<br>
Thank you for choosing NexCity. We look forward to collaborating with you to achieve habitation excellence.


<!--

When you shop at [Your Business Name], you can expect:


- A seamless online shopping experience.
- Friendly and responsive customer support.
- Trendy and timeless clothing options.
- Competitive prices.
- Fast and reliable shipping.

**Join Our Community**

We invite you to be part of the [Your Business Name] community. Follow us on social media to stay updated on the latest arrivals, style tips, and exclusive promotions. We love to see how you style our clothing, so don't forget to tag us in your photos!

Thank you for choosing [Your Business Name] for your fashion needs. We're excited to be a part of your style journey, and we look forward to helping you look and feel your best every day.

Happy Shopping!

[Your Business Name] Team
        </p>
    </div>
</div>
-->
{% endblock body %}